<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="someStyle.css" />
    <link rel="stylesheet" href="anotherStyle.css" />
    <link rel="stylesheet" href="anotherAnotherStyle.css" />
    <link rel="stylesheet" href="thenYourStyle.css" />
  </head>
  <body>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex rerum, modi
        delectus aliquid consequuntur perspiciatis veniam officiis voluptate vel
        ducimus error, blanditiis corporis expedita sint aspernatur commodi
        facilis. Magni, culpa.
      </p>
    </div>
    <script src="someScript.js"></script>
    <script src="anotherScript.js"></script>
    <script src="thenYourScript.js"></script>
  </body>
</html>
